@import url('media-queries.css');

:root {
  --main-color: #16202c;
  --white-color: #fff;
  --orange-color: #eb6e4b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--main-color);
  color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  max-width: 1600px;
  margin: auto;
  height: 100%;
  width: 100%;
}

/* * HEADER * */

header {
  margin-bottom: 8rem;
}
.title {
  margin: 1rem 0 2rem 0.5rem;
}

.title span {
  color: var(--orange-color);
}

h1 {
  font-weight: 700;
}

input[type='text'],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: inherit;
  outline: none;
  border: none;
  color: inherit;
  border-bottom: 2px solid var(--white-color);
  padding-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}

.search_container {
  margin: 0 0 2rem 0.5rem;
}

.search_container button {
  background-color: #ff1e42;
  border: none;
  color: inherit;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.search_container button:hover {
  background-color: #c3112d;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
}

/* * SCALE BUTTONS * */

.scale_btn_container {
  margin: 1rem 0 2rem 0.5rem;
}

.scale_btn {
  -webkit-appearance: none;
  border: 2px solid var(--main-color);
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  padding: 0.5rem;
  margin-right: 0.2rem;
}

.active_unit {
  border: 2px solid var(--orange-color);
  outline: none;
}

.scale_btn:hover {
  border: 2px dotted var(--orange-color);
}

/* * CTA INFO * */
.cta_content {
  visibility: hidden;
  font-size: 1.3rem;
  margin-bottom: 3rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: var(--orange-color);
}

/* * ALL WEATHER CONTENT * */

.weather_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 5px;
  margin-bottom: 2rem;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
  opacity: 0;
}

.degC::after {
  content: ' C';
}

.degF::after {
  content: ' F';
}

/* * CURRENT FORECAST * */

.current_forecast {
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
}

.current_forecast h1,
h2,
h3 {
  margin-bottom: 0.6rem;
}

sup {
  background-color: #eb6e4b;
  border-radius: 20px;
  padding: 0.2rem;
}

li {
  border-left: 2px solid #eb6e4b;
  list-style: none;
  padding-left: 0.5rem;
  line-height: 1.5rem;
}

/* * WEEKLY FORECAST * */

.weekly_forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.day_content > * {
  padding: 0.5rem;
}

/* * LOADER * */

#loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 4rem;
  height: 4rem;
  border: 10px solid var(--white-color);
  border-top: 11px solid var(--orange-color);
  border-radius: 100%;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s infinite linear;
}

.load_container {
  position: relative;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
